:root {
  --color-1: #0c6c4b;
  --color-2: #ffffff;
  --color-3: #feed02;
  --color-4: #2f6146;
  --color-5: #e8e8e8;
  --color-6: #185f33;
  --color-7: #4da757;
  --color-8: #0d4012;
}

/* ---------- Utiltiy ---------- */
.fc-1 {
  color: var(--color-2);
}

/* ---------- Hero Section ---------- */
.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}

.nav-logo {
  width: auto;
  height: 60px;
}

.hero-style {
  color: var(--color-2);
}

.style1 {
  background-color: var(--color-3);
  color: var(--color-1);
}

.join-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  border: none;
  background: var(--color-1);
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-2);

  &:hover {
    background: var(--color-4);
  }
}

/* ---------- Testinomial Section ---------- */

#testinomail {
  background-color: var(--color-5);
}

.testinomial-profile {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.testinomial-profile > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ---------- Footer Section ---------- */
.footer-column-1 {
  background-color: var(--color-6);
  height: 400px;
}

.footer-column-1 > img {
  height: 80px;
  width: 180px;
}

.footer-column-1 > div {
}
.footer-column-1 > div > p {
  color: var(--color-2);
  line-height: 16px;
  font-size: 14px;
}

.footer-column-2 {
  background-color: var(--color-7);
  height: 400px;
}

div > p {
  margin: 0px;
}

.social-logo {
  padding-right: 5px;
}

.social-logo > img {
  height: 20px;
  width: 20px;
}

.copyright-tab {
  background-color: var(--color-8);
}